src/main/mule/hrms-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <flow name="hrms-papi-main">
        <http:listener config-ref="hrms-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hrms-papi-config" />
        <error-handler ref="Fglobal_error_handlerError_Handler" />
    </flow>
    <flow name="hrms-papi-console">
        <http:listener config-ref="hrms-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hrms-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\employees\(empID):hrms-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="empID">attributes.uriParams.'empID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="55e2bbc5-6287-4e8d-8ac9-28a0bff35dd7" name="get_empFlow" />
    </flow>
    <flow name="post:\employees\intern1:application\json:hrms-papi-config">
        <logger level="INFO" doc:name="Logger" doc:id="03f31bcb-996b-4086-881d-f7aa9085ddae" message="&quot;started&quot;" />
        <flow-ref doc:name="Flow Reference" doc:id="4667a400-9ada-4966-b3be-6c129ba3414d" name="post_internFlow" />
        <error-handler ref="Fglobal_error_handlerError_Handler" />
    </flow>
    <flow name="post:\employees\permanent:application\json:hrms-papi-config">
        <logger level="INFO" doc:name="Logger" doc:id="035e951c-fc9f-4a4a-abbc-0555a90f9430" message="&quot;started&quot;" />
        <flow-ref doc:name="Flow Reference" doc:id="4007621c-b095-4879-a464-f754f990f4fd" name="post_permanentFlow" />
        <error-handler ref="Fglobal_error_handlerError_Handler" />
    </flow>
</mule>
